{% extends "skeleton.html" %}

{% block title %}
	<title>NAS | Scanners</title>
{% endblock %}

{% block sidenav %}
	<li><a href="/"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
	<!-- <li><a href="/music-player"><i class="glyphicon glyphicon-music"></i> Music Player</a></li> -->
	<li><a href="/download-manager"><i class="glyphicon glyphicon-download"></i> Download Manager</a></li>
	<li class="active"><a href="/scanners"><i class="glyphicon glyphicon-inbox"></i> Scanners</a></li>
	<li><a href="/printers"><i class="glyphicon glyphicon-print"></i> Printers</a></li>
	<li><a href="/file-explorer"><i class="glyphicon glyphicon-folder-open"></i> File Explorer</a></li>
	<li><a href="/notepad"><i class="glyphicon glyphicon-pencil"></i> Notepad</a></li>
	<li><a href="/tasks"><i class="glyphicon glyphicon-list-alt"></i> Tasks</a></li>
	<li><a href="/alarms"><i class="glyphicon glyphicon-time"></i> Alarms</a></li>
	<li><a href="/pdf-creator"><i class="glyphicon glyphicon-file"></i> PDF Creator</a></li>
{% endblock %}

{% block content %}

	<div id="scanner-content" class="row">
		<div class="row">
			<div class="small-2 columns">
				<p><strong class="small-title">DETECTED SCANNERS</strong></p>
			</div>
			<div class="small-8 columns">
				<select id="scanner-list">
				</select>
			</div>
			<div class="small-2 columns">
				<a id="scanner-scan" class="button radius tiny right">
					<i class="glyphicon glyphicon-camera"></i> SCAN
				</a>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<p><strong class="small-title">PREVIOUSLY SCANNED IMAGES</strong></p>
				<ul id="scanner-prev-pics-ul" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
					{% load scanned_images %}
					{% showPrevScannedImages %}
					<!--
					<li><a class="th" href=""><img src=""></a></li>
					-->
				</ul>
			</div>
		</div>
	</div>
	<script src="/static/js/scanner.js"></script>
	
{% endblock %}
