{% extends "skeleton.html" %}

{% block title %}
	<title>NAS | Scanners</title>
{% endblock %}

{% block content %}

	<div id="scanner-content" class="row">
		<div class="row">
			<div class="small-2 columns">
				<p><strong class="small-title">DETECTED SCANNERS</strong></p>
			</div>
			<div class="small-8 columns">
				<select id="scanner-list">
				</select>
			</div>
			<div class="small-2 columns">
				<a id="scanner-scan-btn" class="button radius tiny right">
					<i id="scanner-scan-button" class="glyphicon glyphicon-camera"></i> SCAN
				</a>
			</div>
		</div>
		<div class="progress">
			<span id="cpu-usage-meter" class="meter" style="width: 50%"></span>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
					{% %}
					<!--
					<li><a class="th" href="http://i.telegraph.co.uk/multimedia/archive/02476/mars-rover_2476831b.jpg"><img src="http://i.telegraph.co.uk/multimedia/archive/02476/mars-rover_2476831b.jpg"></a></li>
					<li><a class="th" href="http://www.ausbt.com.au/photos/view/maxsize:640,480/51a6997345e44331bab3314b767f2254-qff-mars-rover-920.jpg"><img src="http://www.ausbt.com.au/photos/view/maxsize:640,480/51a6997345e44331bab3314b767f2254-qff-mars-rover-920.jpg"></a></li>
					-->
				</ul>
			</div>
		</div>
	</div>
	<script src="/static/js/scanner.js"></script>
	
{% endblock %}
