{% extends "skeleton.html" %}

{% block title %}
	<title>NAS | Dashboard</title>
{% endblock %}

{% block sidenav %}
	<li class="active"><a href="/"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
	<!-- <li><a href="/music-player"><i class="glyphicon glyphicon-music"></i> Music Player</a></li> -->
	<li><a href="/download-manager"><i class="glyphicon glyphicon-download"></i> Download Manager</a></li>
	<li><a href="/scanners"><i class="glyphicon glyphicon-inbox"></i> Scanners</a></li>
	<li><a href="/printers"><i class="glyphicon glyphicon-print"></i> Printers</a></li>
	<li><a href="/file-explorer"><i class="glyphicon glyphicon-folder-open"></i> File Explorer</a></li>
	<li><a href="/notepad"><i class="glyphicon glyphicon-pencil"></i> Notepad</a></li>
	<li><a href="/tasks"><i class="glyphicon glyphicon-list-alt"></i> Tasks</a></li>
	<li><a href="/alarms"><i class="glyphicon glyphicon-time"></i> Alarms</a></li>
{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="small-2 columns">
			<p><span class="glyphicon glyphicon-calendar"></span><strong class="small-title">DATE AND TIME</strong></p>
		</div>
		<div class="small-3 columns">
			<p id="datetime-text">{{ datetime }}</p>
		</div>
		<div class="small-7 columns">
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			<p><span class="glyphicon glyphicon-road"></span><strong class="small-title">UPTIME</strong></p>
		</div>
		<div class="small-3 columns">
			<p id="uptime-text">{{ uptime }}</p>
		</div>
		<div class="small-7 columns">
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			<p><span class="glyphicon glyphicon-signal"></span><strong class="small-title">CPU USAGE</strong></p>
		</div>
		<div class="small-1 columns">
			<p id="cpu-usage-text"></span>{{ cpuUsage }}</p>
		</div>
		<div class="small-9 columns">
			<div class="progress">
				<span id="cpu-usage-meter" class="meter" style="width: 0%"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			<p><span class="glyphicon glyphicon-tasks"></span><strong class="small-title">MEMORY USAGE</strong></p>
		</div>
		<div class="small-1 columns">
			<p id="memory-usage-text"></span>{{ memoryUsage }}</p>
		</div>
		<div class="small-9 columns">
			<div class="progress">
				<span id="memory-usage-meter" class="meter" style="width: 0%"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			<p><span class="glyphicon glyphicon-hdd"></span><strong class="small-title">DISK USAGE</strong></p>
		</div>
		<div class="small-1 columns">
			<p id="disk-usage-text"></span>{{ diskUsage }}</p>
		</div>
		<div class="small-9 columns">
			<div class="progress">
				<span id="disk-usage-meter" class="meter" style="width: 0%"></span>
			</div>
		</div>
	</div>

	<script src="/static/js/home.js"></script>
	
{% endblock %}

