{% extends "skeleton.html" %}

{% block title %}
	<title>NAS | Notepad</title>
{% endblock %}

{% block sidenav %}
	<li><a href="/"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
	<!-- <li><a href="/music-player"><i class="glyphicon glyphicon-music"></i> Music Player</a></li> -->
	<li><a href="/download-manager"><i class="glyphicon glyphicon-download"></i> Download Manager</a></li>
	<li><a href="/scanners"><i class="glyphicon glyphicon-inbox"></i> Scanners</a></li>
	<li><a href="/printers"><i class="glyphicon glyphicon-print"></i> Printers</a></li>
	<li><a href="/file-explorer"><i class="glyphicon glyphicon-folder-open"></i> File Explorer</a></li>
	<li class="active"><a href="/notepad"><i class="glyphicon glyphicon-pencil"></i> Notepad</a></li>
	<li><a href="/tasks"><i class="glyphicon glyphicon-list-alt"></i> Tasks</a></li>
	<li><a href="/alarms"><i class="glyphicon glyphicon-time"></i> Alarms</a></li>
	<li><a href="/pdf-creator"><i class="glyphicon glyphicon-file"></i> PDF Creator</a></li>
{% endblock %}

{% block content %}

	<div id="notepad-content" class="row">
		<div id="notepad-saved-files" class="small-2 columns">
			<p><strong class="small-title">SAVED FILES</strong></p>
		</div>
		<form>
			<div id="notepad-editor" class="small-10 columns">
				<div class="row">
					<div id="notepad-document-title" class="small-2 columns">
						<p id="notepad-document-title"><strong class="small-title">DOCUMENT TITLE</strong></p>	
					</div>
					<div class="small-10 columns">
						<input type=text />
					</div>
				</div>
				<textarea rows="30"></textarea>
				<a href="#" class="button radius tiny right">
					<i id="notepad-save-tick" class="glyphicon glyphicon-save"></i> SAVE
				</a>
			</div>
		</form>
	</div>

{% endblock %}
