{% load home_extras %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% block title %}{% endblock %}
		<link rel="stylesheet" href="/static/css/foundation.css" />
		<script src="/static/js/vendor/modernizr.js"></script>
	</head>
	<body>
		
		{% load authentication_extras %}

		<!-- Top bar -->
		<nav class="top-bar" data-topbar role="navigation">
  			<ul class="title-area">
    			<li class="name">
      			<h1><a id="top-left-logo" href="/">Cloud<span>NAS</span><i class="glyphicon glyphicon-cloud"></i></a></h1>
    			</li>
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					{% loginInformation %}
							<!--
							<li id="username-icon-li"><i id="username-icon-i" class="glyphicon glyphicon-user"></i></li>
							<li id="username-li"><input id="username-input" type="text" placeholder="Username"></li>
							<li id="password-icon-li"><i id="password-icon-i" class="glyphicon glyphicon-lock"></i></li>
							<li id="password-li"><input id="password-input" type="text" placeholder="Password"></li>
							<li id="login-btn-li"><a id="login-btn" class="button radius tiny" href="#"><i class="glyphicon glyphicon-log-in"></i> LOGIN</a></li>
							-->
					<li class="has-dropdown">
						<a href="#"><i class="glyphicon glyphicon-cog"></i></a>
						<ul id="dropdown-ul" class="dropdown">
							<!-- <li><a href="#">Configure</a></li> -->
							<li><a href="#"><i class="glyphicon glyphicon-lock"></i> Change password</a></li>
							<!-- <li><a href="#">Filesystem</a></li> -->
							<!-- <li><a href="#">Firewall</a></li> -->
							<!-- <li><a href="#">Logs</a></li> -->
							<!-- <li><a href="#">Network</a></li> -->
							<!-- <li><a href="#">Packages</a></li> -->
							<!-- <li><a href="#">Processes</a></li> -->
							<li><a href="#"><i class="glyphicon glyphicon-user"></i> Users</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-eye-open"></i> CloudNAS GUI</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-usd"></i> CloudNAS Terminal</a></li>
						</ul>
					</li>
    			</ul>
				<!-- Left Nav Section -->
				<ul id="top-left-icon-bar-ul" class="left">
					<li class="active"><a class="item" href="/"><span class="glyphicon glyphicon-home"></span></a></li>
					<li class="not-active"><a class="item" href="/music-player"><i class="glyphicon glyphicon-music"></i></a></li>
					<li class="not-active"><a class="item"><i class="glyphicon glyphicon-picture"></i></a></li>
					<li class="not-active"><a class="item"><i class="glyphicon glyphicon-film"></i></a></li>
    			</ul>
			</section>
		</nav>
		
		<!-- Main page -->
		<div class="row">
			<div class="small-2 columns sidebar">
				<nav>
					<ul class="side-nav">
						{% block sidenav %}{% endblock %}
					</ul>
				</nav>
			</div>
			<div id="content" class="small-10 columns main-content">
				{% block content %}{% endblock %}
			</div>
		</div>

		<!-- Login Modal Dialog -->
		<div id="loginModal" class="reveal-modal tiny" data-reveal>
			<p>Log in</p>
			<form id="login-form" action="/login/" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="small-12 columns">
						<input id="user-input" type="text" name="user" placeholder="Username" />
						<input id="pass-input" type="password" name="pass" placeholder="Password" />
						<a id="submit-login-form" class="button radius small right" href="#"><i class="glyphicon glyphicon-log-in"></i> Log in</a>
					</div>
				</div>
			</form>
			<a class="close-reveal-modal">&#215;</a>
		</div>

		<div id="footer">
			<div class="row">
				<div class="small-8 columns"></div>
				<div class="small-4 columns right">
					<ul>
						<li><a id="version" href="#">CloudNAS v0.1</a></li>
						<li><a href="/help">Help</a></li>
						<li><a href="/report-bug">Report a bug</a></li>
						<li><a href="/code">Code</a></li>
						<li><a href="/license">License</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Javascript -->
		<script src="/static/js/vendor/jquery.js"></script>
		<script src="/static/js/vendor/fastclick.js"></script>
		<script src="/static/js/foundation.min.js"></script>
		<script src="/static/js/skeleton.js"></script>
	</body>
</html>
